name: buildAndPush

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions: read-all

jobs:
    Setup_ECR:
        runs-on: ubuntu-latest
        environment: production
        defaults:
          run:
            working-directory: ./terraform

        steps:
          - name: checkout code
            uses: actions/checkout@v4

          - name: Configure AWS credentials
            uses: aws-actions/configure-aws-credentials@v5.1.0
            with:
                aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                aws-region: ${{ vars.AWS_REGION }}

          - name: Setup Terraform
            uses: hashicorp/setup-terraform@v3

          - name: Create Terraform plugin cache directory
            run: mkdir -p $HOME/.terraform.d/plugin-cache

          - name: Cache Terraform providers
            uses: actions/cache@v3
            with:
              path: ~/.terraform.d/plugin-cache
              key: terraform-${{ hashFiles('**/.terraform.lock.hcl') }}

          - name: Terraform Init
            run: terraform init
            env:
              TF_PLUGIN_CACHE_DIR: $HOME/.terraform.d/plugin-cache

          - name: Import Existing ECR (if any) # Check if ECR exists, then import to avoid recreation
            continue-on-error: true
            run: |
              if aws ecr describe-repositories --repository-names pomodoro-ecr --region ${{vars.AWS_REGION}} >/dev/null 2>&1; then
                echo "ECR exists, importing to state..."
                terraform import aws_ecr_repository.todolist_app_registry todolist_app_registry
              else
                echo "ECR doesn't exist yet, will create on apply."
              fi

          - name: Terraform Apply
            run: |
              terraform fmt
              terraform apply -auto-approve

    Build_and_Push:
        needs: Setup_ECR
        runs-on: ubuntu:latest
        environment: production
        steps:
          - name: checkout code
            uses: actions/checkout@v4

          - name: Configure AWS credentials
            uses: aws-actions/configure-aws-credentials@v5.1.0
            with:
                aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                aws-region: vars.REGION

          - name: Login to Amazon ECR
            id: login-ecr
            uses: aws-actions/amazon-ecr-login@v2
            
          - name: Build, tag, and push docker image to Amazon ECR
            env:
              REGISTRY: ${{ steps.login-ecr.outputs.registry }}
              REPOSITORY: my-ecr-repo
              IMAGE_TAG: ${{ github.sha }}
            run: |
              docker build -t $REGISTRY/$REPOSITORY:$IMAGE_TAG .
              docker tag $REGISTRY/$REPOSITORY:$IMAGE_TAG $REGISTRY/$REPOSITORY:latest
              docker push $REGISTRY/$REPOSITORY:$IMAGE_TAG
              docker push $REGISTRY/$REPOSITORY:latest

              